{% extends 'base.html.twig' %}

{% block title %}
    Cristal - {#{ titre }#}
{% endblock %}

{% block body %}
    <div class="row">
        {% for flashMessage in app.session.flashbag.get('message') %}
            <div class="col-xs-12">
                <div class="alert alert-danger"><strong>{{ 'lde.core.home.warning'|trans }}</strong>{{ flashMessage }}</div>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="col-xs-12" id="FlashInfoAlert">
                <div class="alert alert-success"><strong>{{ 'lde.core.home.info'|trans }} : </strong>{{ flashMessage }}</div>
            </div>
        {% endfor %}
        <div class="col-xs-12" id="divInfoAlert" style="display: none;">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>{{ 'lde.core.home.warning'|trans }} </strong><span id="spanInfoAlert"></span>
            </div>
        </div>
        <div class="col-xs-12" id="divInfoMessages" style="display: none;">
            <div class="alert alert-success" >

            </div>
        </div>

        {# Message géré par le js #}
        <div id="mess_success" class="col-xs-12" style="display:none;">
            <div class="alert alert-success"><strong>{{ 'lde.core.home.info'|trans }}{{ 'lde.various.colon'|trans }}</strong><span></span></div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div class="panel colourable">

                <div class="panel-heading">
                    <span class="panel-title">{#{ titre }#}</span>
                </div>
                <div class="panel-body">
                    {% if droitEdit %}
                        <div>
                            <p><i class="fa fa-eye"></i> : {{ the_edit_text }}</p>
                            {% if archive is not defined %}
                                <p id="deleteText"><span class="bold">"{{ 'lde.core.button.delete'|trans }}"</span> : {{ the_delete_text }}</p>
                            {% else %}
                                {% if lde_twig_right_check.check_right('CLASS', 'D') %}
                                    <p><span class="bold">"{{ 'lde.core.liste_edit.archive'|trans }}"</span> :  {{ the_archive_text }}</p>
                                    <p><span class="bold">"{{ 'lde.core.button.unarchive'|trans }}"</span>: {{ the_unarchive_text }}</p>
                                {% endif %}
                            {% endif %}
                            <p><span class="bold">"{{ 'lde.core.button.save'|trans }}"</span> : {{ the_save_text }}</p>
                            {% block bonusInfoEdit %}
                            {% endblock %}
                        </div>
                    {% endif %}
                    <div id="panel-body-list">
                        {% if buildList is defined and buildList %}
                            {% if list|length != 0 %}
                                <ul id="listElem" class="list-group valign-middle">
                                    {% for elem in list %}
                                        <li data-id="{{ elem.id }}" id="LI_{{ elem.id }}" class="{% if elem.archive is defined and elem.archive %}bg-gris{%  endif %} list-group-item text-normal padding-xs-vr" data-toggle="tooltip" data-placement="auto" title="{{ elem.text }}">
										{% if droitEdit %}
                                            <button data-id="{{ elem.id }}" class="btn btn-primary btn-outline btn-rounded btn-xs pull-right">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                         {% endif %}
                                         <p class="textOverflow">{{ elem.text }}<span>{% if elem.archive is defined and elem.archive %}({{ 'users.class.archived'|trans }}){% endif %}</span></p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p><b>{{ 'lde.core.model_edit.no_element_defined'|trans }}</b></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="panel colourable" id="panel-form-elem">
                {% block blockEdit %}
                    <div class="panel-heading">
                        <span class="panel-title">{{ editing_text }}</span>
                    </div>
                    <div class="panel-body">
                        {% block editElem %}{% endblock %}
                    </div>
                    <div class="panel-footer">
                        {% if droitEdit %}
                            <button class="btn disabled" id="btn-delete">{{ 'lde.core.button.delete'|trans }}</button>
                            <button class="btn btn-primary disabled" id="btn-save">{{ 'lde.core.button.save'|trans }}</button>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var elem = {{ elem|json_encode()|raw }};
        var saveRoute = "{{ path(saveRoute) }}";
        {% if deleteRoute is defined %}
        var deleteRoute = "{{ path(deleteRoute) }}";
        {% endif %}
        var droitEdits = {% if droitEdit %}true{% else %}false{% endif %};
        var droitCreate = {{ droitCreate|json_encode }};
        var droitDelete = {{ droitDelete|json_encode }};

        {% if action is defined and action == "marque" %}
            $(function () {
                gestionMarque.start();
            })
        {% elseif action is defined and action == "modele" %}
            $(function () {
                gestionModele.start();
            })
        {% endif %}

    </script>
{% endblock %}