{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight">
      <h1>{{title}}</h1>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight"><a href="{{ path('option_add') }}" class="btn btn-outline-primary" role="button">Nouvelle option</a></div>
  </div>
  {% if options is defined and options|length > 0 %}
    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col" width="10%"><strong>&#8470;</strong></th>
          <th scope="col"><strong>Title</strong></th>
          <th scope="col"><strong>Prix</strong></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    {% set increment = 0 %}
    {% for option in options %}
    {% set increment = increment + 1 %}
        <tr class="table-active">
          <th scope="row" class="align-middle" width="10%">{{ increment }}</th>
          <td class="align-middle">{{ option.title }}</td>
          <td class="align-middle">{{ option.prix|format_price }}</td>
          <td width="20%"><a href="{{ path('option_edit', {'id': option.id}) }}" role="button" class="btn btn-outline-success">Modifier ?</a></td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  {% endif %}  
{% endblock %}
