{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('stylesheets/outputBubble.css') }}">
{% endblock %}
{% block body %}
<div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight">
        <h1>{{title}}</h1>
        {{ form_start(rechercheVoiture) }}
            {{ form_row(rechercheVoiture.marque) }}
            {#{ form_row(rechercheVoiture.modele) }#}
            {{ form_row(rechercheVoiture.garage) }}
            {{ form_row(rechercheVoiture.typeCarrosserie) }}
            {{ form_row(rechercheVoiture.carburant) }}
            {{ form_row(rechercheVoiture.boites) }}
            {{ form_row(rechercheVoiture.nbPortes) }}
            {{ form_row(rechercheVoiture.options) }}
            <div class="form-group">
                <input type="checkbox" name="activate_prix" id="activate_prix" onChange="toggleCheckbox(checked)">
                <label for="activate_prix">Inclure prix dans votre recherche ?</label>
            </div>
            {{ form_row(rechercheVoiture.prix) }}
            <div style="display:inline-block; width:25%; float:left;">
                <div class="d-flex justify-content-between">
                {{ form_row(rechercheVoiture.reinitialiser) }}
                {{ form_row(rechercheVoiture.valider) }}
                </div>
            </div>
        {{ form_end(rechercheVoiture) }}
    </div>
    <div class="p-2 flex-fill bd-highlight">
        <div id="table"> 
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>//<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top" aria-describedby="tooltip374576">Top</button>

        /* FORM */
        var inputRange = document.getElementById("recherche_voiture_form_prix");

        var divPrices = document.createElement("div");
        divPrices.classList.add("d-flex");
        divPrices.classList.add("justify-content-between");

        var spanMin = document.createElement("span");
        spanMin.innerHTML = new Intl.NumberFormat('fr-FR', { style: 'currency', currency: 'EUR' }).format(inputRange.min);
        divPrices.appendChild(spanMin);
        
        var spanMax = document.createElement("span");
        spanMax.innerHTML = new Intl.NumberFormat('fr-FR', { style: 'currency', currency: 'EUR' }).format(inputRange.max);
        divPrices.appendChild(spanMax);

        //inputRange.parentNode.insertBefore(divPrices, inputRange.nextSibling);

        var divParent = inputRange.parentElement;
        divParent.setAttribute("id", "prix_group");
        divParent.setAttribute("hidden", true);
        divParent.appendChild(divPrices);

        // affichahge de la valeur
        var outputRange = document.createElement("output");
        outputRange.classList.add("bubble");
        inputRange.parentNode.insertBefore(outputRange, inputRange.nextSibling);


        function toggleCheckbox(checked) {
            if (checked) {
                divParent.removeAttribute("hidden");
                inputRange.removeAttribute("disabled");
            } else {
                divParent.setAttribute("hidden", true);
                inputRange.setAttribute("disabled");
            }
        }

        /* JSON */
        var voitures = {% if arrVoitures is defined %}{{ arrVoitures|json_encode|raw }}{% else %}[]{% endif %};
        var obj = voitures.length > 0 ? JSON.parse(voitures) : [];
        var cols = []; 
              
        for (var l = 0; l < obj.length; l++) { 
            for (var k in obj[l]) { 
                if (cols.indexOf(k) === -1) { 
                        
                    cols.push(k); 
                } 
            } 
        } 
  
        var table = document.createElement("table");
        table.setAttribute("id", "dtBasicExample");
        table.classList.add("table");
        table.classList.add("table-hover");

        var thead = document.createElement("thead");
        table.appendChild(thead);
        var tRowH = document.createElement("tr");
        tRowH.classList.add("table-active");
        var _th = document.createElement("th");
        _th.innerHTML = "&#8470;";
        _th.scope = "col";
        _th.classList.add("text-center");


        thead.appendChild(tRowH);
        tRowH.appendChild(_th);
        for (var i = 0; i < cols.length; i++) {
            var th = document.createElement("th");
            th.scope = "col";
            th.classList.add("text-center");
            th.innerHTML = cols[i];
            tRowH.appendChild(th);
        }


        var tbody = document.createElement("tbody");
        table.appendChild(tbody);
        var incr = 1;
        for (var j = 0; j < obj.length; j++) {
            var tRowB = document.createElement("tr");

            var _td = document.createElement("td");
            _td.classList.add("text-center");
            _td.innerHTML = incr;

            tRowB.appendChild(_td);
            tbody.appendChild(tRowB);

            incr++;
            for (var v in obj[j]) {
                var td = document.createElement("td");
                td.innerHTML = obj[j][v];
                td.classList.add("text-center");
                tRowB.appendChild(td);
            }
        }

        var el = document.getElementById("table"); 
        el.innerHTML = ""; 
        el.appendChild(table);

        /* DataTable */
        $('#dtBasicExample').DataTable({
            "pagingType": "simple_numbers"
        });
        $('.dataTables_lenght-').addClass('bs-Select');


        /* output affichage de la valeur */
        const allRanges = document.querySelectorAll("#prix_group");
        allRanges.forEach(wrap => {
        const range = wrap.querySelector("#recherche_voiture_form_prix");
        const bubble = wrap.querySelector(".bubble");

        range.addEventListener("input", () => {
            setBubble(range, bubble);
        });

        setBubble(range, bubble);
        });

        function setBubble(range, bubble) {
            const val = range.value;
            const min = range.min ? range.min : 0;
            const max = range.max ? range.max : 100;
            const newVal = Number(((val - min) * 100) / (max - min));
            bubble.innerHTML = new Intl.NumberFormat('fr-FR', { style: 'currency', currency: 'EUR' }).format(val);

            // Sorta magic numbers based on size of the native UI thumb
            bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
        }

    </script>
{% endblock %}