{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container-sm">  
    <h1>{{title}}</h1>
    {{ form_start(rechercheVoiture) }}
        {{ form_row(rechercheVoiture.modele) }}
        {{ form_row(rechercheVoiture.garage) }}
        {{ form_row(rechercheVoiture.typeCarrosserie) }}
        {{ form_row(rechercheVoiture.nbPortes) }}
        <div style="display:inline-block; width:25%; float:right;">
            <div class="d-flex justify-content-between">
            {{ form_row(rechercheVoiture.reinitialiser) }}
            {{ form_row(rechercheVoiture.valider) }}
            </div>
        </div>
    {{ form_end(rechercheVoiture) }}
</div>  
<p></p>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        var voitures = {{ arrVoitures|json_encode|raw }};
        var obj = JSON.parse(voitures);
        console.log(obj);

        var ul = $('<ul>').appendTo('p');

        $.each(obj, function(i,item) {
            ul.append(
                $(document.createElement('li')).text(obj[i].garage)
            );
        });

//$.each(data, function(i, item) {
    //alert(data[i].PageName);
//});
    </script>
{% endblock %}