{% extends 'base.html.twig' %}

{% block title %}Voitures{% endblock %}

{% block body %}
    <div class="d-flex bd-highlight">
        <div class="p-2 w-100 bd-highlight">
        <h1>{{title}}</h1>
        </div>
        <div class="p-2 flex-shrink-1 bd-highlight"><a href="{{ path('voiture_add') }}" class="btn btn-outline-primary" role="button">Nouvelle voiture</a></div>
    </div>
    <div class="container-lg">  
    <table class="table table-hover">  
    {% set increment = 0 %}
        <thead>
            <tr class="table-primary">
                <th scope="col" width="10%">&#8470;</th>
                <th scope="col">Modèle</th>
                <th scope="col">Garage</th>
                <th scope="col">Immatriculation</th>
                <th scope="col">Fabrication</th>
                <th scope="col">A vendre ?</th>
            <tr>
        </thead>
        <tbody>
    {% for voiture in pagination %}
    {% set increment = increment + 1 %}
            <tr class="table-active">
                <th scope="row" class="align-middle" width="10%">{{ increment }}</td>
                <td class="align-middle"><a href="{{ path('product_detailed', {'id': voiture.id}) }}">{{ voiture.modele.marque.nom }} {{ voiture.modele.nom }}</a></td>
                <td class="align-middle">{{ voiture.garage.nom }}</td>
                <td class="align-middle">{{ voiture.immatriculation }}</td>
                <td class="align-middle">{{ voiture.dateFabrication|date('Y') }}</td>
                <td class="align-middle">{% if voiture.aVendre == true %}<span class="badge badge-pill badge-success">Disponible</span>{% elseif voiture.aVendre == false and voiture.estVendue is not null %}<span class="badge badge-pill badge-info">Vendue</span>{% else %}<span class="badge badge-pill badge-warning">En réparation</span>{% endif %}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    <div class="d-flex">
      <div class="mx-auto">
          {{ knp_pagination_render(pagination) }}
      </div>
    </div>
{% endblock %}
